@font-face {
    font-family: 'fzxs16regular';
    src: url('fzxiangsu16-webfont.woff2') format('woff2'),
         url('fzxiangsu16-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}