html, body {
margin: 0;
}

html {
font-family: sans-serif;
height: 100%;
}

body {
overflow: hidden;
height: inherit;
}

h1 {/*使画面填充整个页面从而摆脱滚动条和边缘的空白*/
font-size: 2rem;
letter-spacing: -1px;
position: absolute;
margin: 0;
top: 5px;
right: 5px;

color: transparent;
text-shadow: 0 0 2px white;
}

h2 {
font-size: 1.5rem;
position: absolute;
margin: 0;
top: 45px;
right: 0;

color: transparent;
text-shadow: 0 0 2px white;
}

p {
position: absolute;
margin: 0;
top: 5px;
left: 5px;
font-size: 2rem;
font-weight: bold;

color: #be002f;
}