html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 100px auto 0;
}

.form input[type="number"] {
    width: 200px;
}

.form input[type="submit"]{
    cursor: pointer;
}

.lastResult {
    color: white;
    padding: 3px;
}

button{
    cursor: pointer;
}