/*整体*/
html {
    font-family: sans-serif;
    font-size: 15px;
}

body {
    margin: 0 auto;
    width: 100%;
    background-image: url("../images/欢迎页背景.png");
    color: #fcefe8;
}

main {
    padding: 19.2px;
    text-align: center;
}

header, footer {
    background: #75878a;
    opacity: 0.7;
    padding: 38px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;/*均匀地分配物品。第一件物品与起点平齐，最后一件与终点平齐。*/
    border-bottom: 5px solid #395260;
}

footer{
    border: 5px solid #395260;
    border-radius: 10px;
}

/*细节*/
h1{
    font-size: 3rem;
}

form,
form input {
    font-size: 1.5rem;
    font-weight: bold;
}

#entername{
    background-color: #75878a;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 1.4;
}

#entername:invalid{
    border: 2px dashed red;
}

#submitname,
#forgetname{
    background-color: #75878a;
    opacity: 0.8;
    color: #fcefe8;
    border: 3px solid #395260;
    border-radius: 5px;
    padding: 2px;
}

#entername:hover,
#submitname:hover,
#forgetname:hover{
    cursor: pointer;
    background-color: #1bd1a5;
}

.personal-greeting {
    font-weight: bold;
    font-size: 2rem;
    color: #fcefe8;
}

main p{
    font-size: 1.6rem;
}

footer p{
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
}